img {
  width: 100%;
  height: auto;
}

#logo {
  width: 25%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 1rem;
}

li a:hover {
  text-decoration: underline;
}

#hero {
  margin-top: 2rem;
  background-color: var(--accent-green);
  color: white;
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}

#hero h1 {
  color: var(--accent-yellow);
  font-size: 3rem;
}

#hero-img {
  width: 25%;
}

#hero-text {
  width: 50%;
}

#hero-text p {
  margin-top: 2rem;
}
